body{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
}
#logo{
    display: block;
    margin:auto auto auto 48%;
    width: 15%;
    height: 15%;
}
#loadingBar{
   height: 27px;
   display: block;
  border-radius: 40px;

}
#parentDiv{
    background-color:transparent;
    height: 27px;
    width:50%;
    display: block;
    margin: 0 auto auto auto;
    border-radius: 40px;
    border: 2px solid rgb(241, 234, 187);  
}
#text{
    display: block;
    margin: 10em auto 0 auto;
   text-align: center;
   font-size: 50px;
   font-style: initial; 
   color: rgb(255, 253, 255);
   font-weight: bold; 
}
#loadingText{
    display: block;
    margin-top:-28px;
    text-align: center;
   font-size: 22px;
   font-style: initial; 
   color: rgb(255, 253, 255);
}
